@font-face {
	font-family: ProximaNova-Regular;
	src: url('../fonts/ProximaNova-Regular.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: ProximaNova-Semibold;
	src: url('../fonts/ProximaNova-Semibold.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}

body {
	margin: 0;
	padding: 1rem;
	font-family: 'ProximaNova-Regular', sans-serif;
	background-color: #f9f9f9;
}
	@media (min-width: 40em) {
		body {
			padding: 2rem;
		}
	}

article {
	display: -webkit-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-direction: column;
	flex-direction: column;
	-webkit-box-pack: end;
	-ms-flex-pack: end;
	justify-content: flex-end;
	width: 100%;
	max-width: 50rem;
	height: 90%;
	margin: 0 auto;
}
	@media (min-width: 40em) {
		article {
			height: 80%;
		}
	}

#view {
	height: calc(80vh - 5rem);
	margin-bottom: 1rem;
	overflow: auto;
	border-radius: .25rem;
	border: 2px solid #eee;
	background-color: #fff;
}

#chat {
	display: -webkit-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-direction: column;
	flex-direction: column;
	margin: 0;
	padding: 1rem;
	overflow: auto;
}
	@media (min-width: 40em) {
		#chat {
			padding: 2rem;
		}
	}

	#chat > li {
		float: left;
		clear: both;
	}

	#chat li {
		display: -webkit-box;
		display: -ms-flexbox;
		display: -webkit-flex;
		display: flex;
		-webkit-box-orient: vertical;
		-webkit-box-direction: normal;
		-ms-flex-direction: column;
		flex-direction: column;
		-webkit-box-align: start;
		-ms-flex-align: start;
		-ms-grid-row-align: flex-start;
		align-items: flex-start;
		max-width: 100%;
		margin-bottom: 1rem;
		font-size: .875em;
		list-style-type: none;
	}
		@media (min-width: 40em) {
			#chat li {
				-webkit-box-orient: horizontal;
				-webkit-box-direction: normal;
				-ms-flex-direction: row;
				flex-direction: row;
				max-width: 65%;
			}
		}

		#chat li > * {
			float: left;
		}

		#chat li img {
			width: 2rem;
			height: 2rem;
			margin-bottom: .75rem;
			border-radius: 50%;
		}
			@media (min-width: 40em) {
				#chat li img {
					margin-bottom: 0;
				}
			}
		#chat li .text-ctn {
			position: relative;
			margin-left: 0;
			padding: .375rem .75rem;
			border-radius: .25rem;
			border: 2px solid #eee;
			background-color: #eee;
		}
			@media (min-width: 40em) {
				#chat li .text-ctn {
					margin-left: 1rem;
				}
			}

			#chat li .text-ctn::after {
				position: absolute;
				top: -.625rem;
				right: calc(100% - 1.5rem);
				width: 0;
				height: 0;
				border-top: none;
				border-bottom: .625rem solid #eee;
				border-right: .625rem solid transparent;
				border-left: .625rem solid transparent;
				content: "";
				z-index: 1;
			}
				@media (min-width: 40em) {
					#chat li .text-ctn::after {
						top: .25rem;
						right: 100%;
						border-top: .625rem solid transparent;
						border-bottom: .625rem solid transparent;
						border-left: none;
						border-right: .625rem solid #eee;
					}
				}
		#chat li p {
			margin: 0;
			line-height: 1.6;
		}
		#chat li p.name {
			font-family: 'ProximaNova-Semibold', sans-serif;
			font-weight: bold;
		}
			#chat li p.name .time {
				margin-left: .5em;
				font-size: .785em;
				color: #999;
			}
	#chat li[data-type="sent"] {
		float: right;
		-webkit-box-orient: vertical;
		-webkit-box-direction: normal;
		-ms-flex-direction: column;
		flex-direction: column;
		-ms-flex-item-align: end;
		align-self: flex-end;
	}
		@media (min-width: 40em) {
			#chat li[data-type="sent"] {
				-webkit-box-orient: horizontal;
				-webkit-box-direction: reverse;
				-ms-flex-direction: row-reverse;
				flex-direction: row-reverse;
			}
		}

		#chat li[data-type="sent"] > *  {
			float: right;
			-ms-flex-item-align: end;
			align-self: flex-end;
		}
			@media (min-width: 40em) {
				#chat li[data-type="sent"] > * {
					-ms-flex-item-align: initial;
					align-self: initial;
				}
			}
		#chat li[data-type="sent"] .text-ctn {
			margin-left: 0;
			margin-right: 0;
			background-color: #fff;
		}
			@media (min-width: 40em) {
				#chat li[data-type="sent"] .text-ctn {
					margin-right: 1rem;
				}
			}

			#chat li[data-type="sent"] .text-ctn::before {
				position: absolute;
				top: calc(-.625rem + .1875rem);
				left: calc(100% - 1.5rem);
				border-top: none;
				border-bottom: .625rem solid #fff;
				border-left: .625rem solid transparent;
				border-right: .625rem solid transparent;
				content: "";
				z-index: 2;
			}
				@media (min-width: 40em) {
					#chat li[data-type="sent"] .text-ctn::before {
						top: .25rem;
						left: calc(100% - .1875rem);
						border-top: .625rem solid transparent;
						border-bottom: .625rem solid transparent;
						border-left: .625rem solid #fff;
					}
				}
			#chat li[data-type="sent"] .text-ctn::after {
				top: -.625rem;
				left: calc(100% - 1.5rem);
				border-top: none;
				border-bottom: .625rem solid #eee;
				border-left: .625rem solid transparent;
				border-right: .625rem solid transparent;
			}
				@media (min-width: 40em) {
					#chat li[data-type="sent"] .text-ctn::after {
						top: .25rem;
						left: 100%;
						right: initial;
						border-top: .625rem solid transparent;
						border-bottom: .625rem solid transparent;
						border-left: .625rem solid #eee;
						border-right: none;
					}
				}

		#chat li[data-type="choices"] {
			min-height: initial;
			clear: both;
		}
			#chat li[data-type="choices"] ul {
				display: -webkit-box;
				display: -ms-flexbox;
				display: -webkit-flex;
				display: flex;
				-ms-flex-wrap: wrap;
				flex-wrap: wrap;
				-webkit-box-orient: horizontal;
				-webkit-box-direction: normal;
				-ms-flex-direction: row;
				flex-direction: row;
				padding-left: 0;
			}
				@media (min-width: 40em) {
					#chat li[data-type="choices"] ul {
						padding-left: 3rem;
					}
				}
			#chat li[data-type="choices"] li {
				float: left;
				max-width: initial;
				padding: 0;
				margin-right: 1em;
				margin-bottom: 1em;
			}
				@media (min-width: 40em) {
					#chat li[data-type="choices"] li {
						width: initial;
					}
				}

				#chat li[data-type="choices"] li:last-of-type {
					margin-right: 0;
				}
			#chat li[data-type="choices"] button {
				padding: .75em;
				font-family: 'ProximaNova-Semibold', sans-serif;
				font-weight: bold;
				color: #ffa725;
				cursor: pointer;
				border-radius: .25rem;
				border: 2px solid #ffa725;
				background: none;
			}
				#chat li[data-type="choices"] button:hover, #chat li[data-type="choices"] button:focus {
					color: #fff;
					background-color: #ffa725;
				}
				#chat li[data-type="choices"] button:disabled {
					color: #eee;
					cursor: default;
					border-color: #eee;
					background-color: #fff;
				}

#form {
	display: -webkit-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	width: 100%;
}
	#form input[type="text"] {
		width: 78%;
		height: 1.2rem;
		padding: 1rem;
		resize: vertical;
		font-family: 'ProximaNova-Regular', sans-serif;
		font-size: 1em;
		border-radius: .25rem;
		border: 2px solid #eee;
	}
		@media (min-width: 40em) {
			#form input[type="text"] {
				width: 85%;
			}
		}
	#form input[type="submit"] {
		width: 20%;
		margin-left: 2%;
		font-family: 'ProximaNova-Semibold', sans-serif;
		font-weight: bold;
		font-size: .9375em;
		color: #fff;
		cursor: pointer;
		border-radius: .25rem;
		border: none;
		background-color: #ffa725;
	}
		@media (min-width: 40em) {
			#form input[type="submit"] {
				width: 13%;
			}
		}